:root{
    --fundo:#6495ED;
    --cartão-frente:#4169E1;
    --destaque:#00FFFF;
    --preto:#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
}